<header>
    <h1>Charactres from the Rick and Morty</h1>
</header>
<div id="characters">
    <table>
        <tr>
            <th class="sort" (click) = sort()>Name <span><fa-icon [icon]='angleIcon'></fa-icon></span></th>
            <th>Gender</th>
            <th>Species</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let char of curChars" class="chararacter" (click) = 'openModal(template)'>
            <td>{{ char.name }}</td>
            <td>{{ char.gender }}</td>
            <td>{{ char.species }}</td>
            <td>{{ char.status }}</td>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title">{{ char.name }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="image" src="{{ char.image }}" alt='{{ char.name }}'>
                    <div class="content">
                        <ul>
                            <li>ID: {{ char.id }}</li>
                            <li>Gender: {{ char.gender }}</li>
                            <li>Species: {{ char.species }}</li>
                            <li>Status: {{ char.status }}</li>
                            <li>Location: {{ char.location.name }}</li>
                            <li>Origin: {{ char.origin.name }}</li>
                            <li>Type: {{ char.type }}</li>
                            <li>Episode: exists in {{ char.episode.length }} episodes</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </tr>
    </table>
</div>
<pagination
    (pageChanged) = 'pageChanged($event)'
    [totalItems] = 'totalItems'
    [maxSize] = 'maxSize'
    [itemsPerPage] = 'itemsPerPage'
    [boundaryLinks]="true"
    [rotate]="rotate"
    previousText="&lsaquo;"
    nextText="&rsaquo;" 
    firstText="&laquo;"
    lastText="&raquo;"
    class="pagination justify-content-center"
>
</pagination>
<div id="second-part">
    <h4>Link to seccond part of the test</h4>
    <a routerLink = '/layout'>Layout</a>
</div>
