<div id="layout" >
    <div id="outer">
        <div id="wrapper" #wrapper>
            <div id="inner" [ngStyle]="{backgroundSize: expression}">
                <div id="text">
                    <p id="header">Обучение по продажам</p>
                    <p id="text-light">Вы сделали 13 продаж и заработали:</p>
                    <p id="money">$ 2 000</p>
                </div>
                <div id="progress">
                    <p id="progress-title">Месячный план выполнен на</p>
                    <div id="progress-bar">
                        <div id="progress-value" [ngStyle]="{width: barValue}"></div>
                    </div>
                    <p id="barvalue">{{ barValue }}</p>
                    <div id="progress-bottom">
                        <button (click) = 'onClick()'>Продолжить</button>
                        <span class="light">Осталось 8 дней</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="box-number" #numbox>
            25
        </div>
    </div>
</div>

